.__visible{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);

}



/*.mt-layout-sidebar.__visible-add{
	-webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.mt-layout-sidebar.__vibile-add-active{

    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);

}
*/