
.btn{
		color: #fff;
}
.mt-ms-button{
	padding: 10px 17px;
    border-radius: 4px;
    border: 0;

}

.mt-call-button{
	padding: 16px 40px;
    margin-left: 0.5em;
    border-radius: 4px;
    font-size: 1em;
}

/*Special Type*/

a.sideTrigger{
	
}