
.btn{
		color: #fff;
}
.mt-ms-button{
	padding: 10px 17px;
    border-radius: 4px;
    border: 0;

}

.mt-call-button{
	padding: 16px 40px;
    margin-left: 0.5em;
    border-radius: 4px;
    font-size: 1em;
}


.__tranparent{
	background-color: transparent;
}


button.icon-round{
    cursor: pointer;
    border-radius: 50%;
    float: right;
    display: inline-flex;
    height: 32px;
    margin: 3px 0 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

.mdl-button{
        background: 0 0;
    border: none;
    border-radius: 2px;
    color: #868686;
    display: block;
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 8px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow,transform;
    -webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.mdl-button:hover{
        background-color: rgba(158,158,158,.2);
}

button#dropdown>i{
    color:#fff;
}