/*
 * All UI colors on this file
 *
 */

$ui-color: (
    darkbrown : #202024,
    redish : #F23054,
    redish_strong : #D9183C,
    grey60	: #D8D8D8 
);

.redish{
	background: map-get($ui-color, redish);
}

.redish:hover{
	background-color: map-get($ui-color, redish_strong) !important;
}

.dark{
	background-color: map-get($ui-color, darkbrown);
}

.grey60{
	background-color: map-get($ui-color, grey60);
}