/*
 * All UI colors on this file
 *
 */

$ui-color: (
    darkbrown : #202024,
    redish : #F23054,
    redish_strong : #D9183C,
    grey60	: #eee,
    blue : #03A9F4
);

.redish{
	background: map-get($ui-color, redish);
}

.redish:hover{
	background-color: map-get($ui-color, redish_strong) !important;
}

.dark{
	background-color: map-get($ui-color, darkbrown);
    color: #948E8E;
}

.dark-card{
    background-color: rgba(41, 41, 41, 0.97);

    a{
        color: rgba(255, 255, 255, 0.57);
    }
}

.blue-card{
        background: #2196F3;
}
.grey60{
	background-color: map-get($ui-color, grey60);
}

.redy-card{
        background: #f24f86;
}

/*Backgrounds*/

.blue{
	    background: #2196F3 !important;
        color:#fff !important;
}

.bluegreen{
	    background: #4DD0E1;
        &:hover{
            background: #3CB4C3;
        }
}

.danger{
    background:#e12330 !important;
    color:#fff !important;
}
.red{
	    color: map-get($ui-color, redish) !important;
}

.btn-blue {
    color: #fff !important;
    background: #3598dc !important;
    border-color: #3598dc !important;

    &:hover{
    	    color: #fff !important;
    background: #217ebd !important;
    }
}
.whitee{
    background-color: #fff;
}

.white-color{
    color: #fff;
}
.light-blue.lighten-5 {
    background-color: #e1f5fe !important;
}

.light-blue {
    background-color: #03a9f4 !important;
}