.mt-forms{
        width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.mt-form-group.form-md-line-input .help-block {
    position: absolute;
    margin: 2px 0 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 13px;
}


.mt-form-group.form-md-line-input .form-control~label {
    position: absolute;
    top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #3A3A3D;
    opacity: 1;
    filter: alpha(opacity=100);
}

.login-form>.row>.card-6>input[type='text'], input[type='password']{
    margin-bottom: 40px;
}

.rem-password{
    margin-top: 15px;
    & p{
        display: inline-block;
        padding: 5px;
    }
}

.login-error{
    padding: 0.5em 0;
    
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline, .mdl-checkbox__ripple-container .mdl-ripple, .mdl-switch__ripple-container .mdl-ripple, .mdl-switch.is-checked .mdl-switch__thumb {
    background: #2196F3;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid #2196F3;
}

.form-group.form-md-line-input .help-block {
    position: absolute;
    margin: 2px 0 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 13px;
}
.help-block {
    margin-top: 5px;
    margin-bottom: 5px;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #6789ab;
}

/*==========================================================
    Search bar
  ===========================================================*/

.mt-search-wrapper, .mt-search-wrapper form, .mt-search-wrapper input{
    -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
    width: calc(100% - 240px);
}

.expandable--search{
    margin: 0 50px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 600px;
}

.mt-search-wrapper, .mt-search-wrapper form, .mt-search-wrapper input{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.expandable--search form{
        max-width: 600px;
}


.icon-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
}

.mt-search-wrapper input{

    outline: none;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #424248;
    background-color: transparent;
    padding: 0px 35px 0px 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

span.icon-search{
    color:#868686;
    position: relative;
    right: -40px;
    margin-left: -24px;
}

.ais-search-box{
    display: flex;
    flex-grow: 1;
}

.mt-search-wrapper input::-webkit-input-placeholder { /* WebKit browsers */
    color: #868686;
}
.mt-search-wrapper input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#868686;
   opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}


.mt-search-wrapper input:hover, .mt-search-wrapper input:focus{
    transition: all 0.2s ease;
    color: white;
    background:rgba(255, 255, 255, 0.1) !important;
}


@media (max-width: 700px){
        .hide-on-phone{
    display: none !important;
        }

        .mt-toggle-search{
            visibility: visible !important;
        }

        .mt-search-wrapper{
                width: calc(100% - 100px);
        }

        .expandable--search{
                margin: 0 30px;
        }
}

@media (max-width: 700px){

    .expandable--search {
        margin: 0 8px;
    }


    .mt-search-wrapper {
        width: calc(100% - 50px);
    }

}


/*Tool Bar*/

.mt-tool-bar{
    height: 60px;
    background: #fff;
    box-shadow: 0px 0px 3px #03A9F4;
    padding: 10px 0;
    border-left: 5px solid #03A9F4;
}

/*==========================================================
   Forms for inputting data
  ===========================================================*/

.mt-form-group {
    position: relative;
    margin: 0 0 35px;
    padding-top: 20px;

}

.mt-form-group label.top-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #888;
    opacity: 1;
    filter: alpha(opacity=100);
}

.mt-form-group input, .mt-form-group textarea, .mt-form-group select {
    width: 100%;
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    border-radius: 0;
    color: #4d6b8a;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
        outline: 0;
}

.mt-form-group  input[type="text"], .mt-form-group  input[type="password"], .mt-form-group input[type="email"], .mt-form-group  select, textarea {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition: border-color 0.2s ease, background-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
    -ms-transition: border-color 0.2s ease, background-color 0.2s ease;
}

.mt-form-group  input[type="text"]:focus, .mt-form-group  input[type="password"]:focus, .mt-form-group input[type="email"]:focus, .mt-form-group select:focus, .mt-form-group textarea:focus {
    -webkit-animation: focus 0.1s;
    animation: focus 0.1s;
    background-color: rgba(176, 176, 176, 0.125);
    border-color: #33A4FF !important;
    -moz-animation: focus 0.1s;
    -webkit-animation: focus 0.1s;
    -ms-animation: focus 0.1s;
    background-color: rgba(255, 255, 255, 0.125);
    border-color: #33A4FF;
}

.mt-form-group input[disabled] {
    cursor: not-allowed;
}

.form-buts-wrap{
        font-size: 12px;
}

.admin-form-large form{
    padding: 2em 3em;
    box-shadow: 0px 1px 2px 1px #E7E7E7;
}

.input-comment input {
    line-height: 1.42857;
    color: #828282;
    border: 1px solid #ddd;
    width: 100% !important;
    margin-top: 0;
    background-color: #fff !important;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-horizontal{
    width: 100%;
    padding: 0;
}
.input-icon input{
    padding: 5px 0 5px 43px;
    font-size: 15px;
}

.input-icon>i {
    color: #a0a0a0;
    display: block;
    position: absolute;
    top: 15px;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    font-size: 19px;
    text-align: center;
    left: 0;
}

.login-options {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.login-options h4 {
    float: left;
    font-weight: 600;
    font-size: 15px;
    color: #7d91aa!important;
}

.login-options .social-icons {
    float: right;
    padding-top: 3px;
}

.social-icons:after, .social-icons:before {
    content: " ";
    display: table;
}

.social-icons li {
    float: left;
    display: inline;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    text-indent: -9999px;
}

.social-icons li>a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;}

    .login-options .social-icons li a {
    border-radius: 15px!important;
    -moz-border-radius: 15px!important;
    -webkit-border-radius: 15px!important;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login-form>h3 {
    color: map-get($ui-color, redish);
    text-align: center;
    font-size: 28px;
    font-weight: 400!important;
    margin: 20px 0;
}