.mt-forms{
        width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.login-form>.row>.card-6>input[type='text'], input[type='password']{
    margin-bottom: 40px;
}

.rem-password{
    margin-top: 15px;
    & p{
        display: inline-block;
        padding: 5px;
    }
}

.login-error{
    padding: 0.5em 0;
    
}

/*==========================================================
    Search bar
  ===========================================================
*/

.mt-search-wrapper, .mt-search-wrapper form, .mt-search-wrapper input{
    -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
    width: calc(100% - 240px);
}

.expandable--search{
    margin: 0 50px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 600px;
}

.mt-search-wrapper, .mt-search-wrapper form, .mt-search-wrapper input{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.expandable--search form{
        max-width: 600px;
}


.icon-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
}

.mt-search-wrapper input{

    outline: none;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #424248;
    background-color: transparent;
    padding: 0px 35px 0px 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

span.icon-search{
    color:#868686;
    position: relative;
    right: -40px;
    margin-left: -24px;
}


.mt-search-wrapper input::-webkit-input-placeholder { /* WebKit browsers */
    color: #868686;
}
.mt-search-wrapper input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#868686;
   opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}


.mt-search-wrapper input:hover, .mt-search-wrapper input:focus{
    transition: all 0.2s ease;
    color: white;
    background:rgba(255, 255, 255, 0.1) !important;
}


@media (max-width: 700px){
        .hide-on-phone{
    display: none !important;
        }

        .mt-toggle-search{
            visibility: visible !important;
        }

        .mt-search-wrapper{
                width: calc(100% - 100px);
        }

        .expandable--search{
                margin: 0 30px;
        }
}

@media (max-width: 700px){

    .expandable--search {
        margin: 0 8px;
    }


    .mt-search-wrapper {
        width: calc(100% - 50px);
    }

}


/*Tool Bar*/

.mt-tool-bar{
    height: 60px;
    background: #fff;
    box-shadow: 0px 0px 3px #03A9F4;
    padding: 10px 0;
    border-left: 5px solid #03A9F4;
}