.mt-forms{
	    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.login-form>.row>.card-6>input[type='text'], input[type='password']{
	margin-bottom: 40px;
}

.rem-password{
    margin-top: 15px;
    & p{
        display: inline-block;
        padding: 5px;
    }
}

.login-error{
    padding: 0.5em 0;
}