@media(max-width: 490px) {
	.mt-header--fixed {
	    visibility: hidden;
	    display: none;
	}

	.mt-page-wrapper {
		top:0 !important;
	}

	.grid-item{
		width:50% !important;
		padding: 0 !important;
	}

	button#top-menu-right{
		    display: none!important;
	}

	.mdl-navigation.mt-nav-has-border{
		width: 100% !important;
	}

	.mdl-navigation__link{
		width: 33.333% !important;
		text-align: center !important;
	}
	.mt-sub-header{
		padding: 0 !important;
	}

	.pad-1{
		padding: 0!important;
	}
}

@media(max-width: 1024px) {
		.mt-secondary__navigation{
			display: none !important;
		}
	}