// mdl tables
.mt-fullwidth-table{
      width: 100%;
    margin: auto;
}

.mt-table-head{
      border: 1px solid rgba(0,0,0,.12);
    border-bottom: 0;
    min-height: 109px !important;
    align-items: flex-start;
}

.mt-table-nav a{
  color: map-get($ui-color, darkbrown) !important;
}

.mt-table-nav{
  border: 1px solid #eee;
}