
/* ==========================================================================
   This File is for all texts Css
   ========================================================================== */

/*
* Global texts that are general
*
*/
.mt-heading{
    padding: 0.2em 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 113%
}

.mt-subheading{
    max-width: 579px;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 180%;
}

.forgot-password{
    display: inline-block;
    color: #eee;
    margin-right: 5px;
}

.link-text{
    color: #2196F3;
}

.danger-text{
    font-size: 12px;
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
}

.mt-menu-text {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 1px 0px black, 2px 0px 1px rgba(0, 0, 0, 0.87);
}

.grey-text{
    color: #9e9e9e;
}

.mt-title-grey{
        text-align: center;
    font-size: 1.5rem;
    color: #AEAEAE;
    margin: 13px 0;
}

.mt-sm-cont-txt{
        font-size: 15px;
    letter-spacing: 0;
    margin: 0 0 16px;
    text-align: center;
    line-height: 1.5rem;
    color: #8E8E8E;
}
/*More specific texts*/
.mt-call-items-title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
}

.mt-call-items-text {
    color: #868686;
    font-size: 15px;
}


a.mt-call-items:hover .mt-call-items-title {
    color: #F23054;
}


.mt-md-title{
    color:#9e9e9e;
    font-size: 17px;

}
.blue-text{
    color: map-get($ui-color, blue);
}

.chart-title{
    font-size:120%;
    color:#fff;
}

.chart-number {
    color: #fff;
    text-align: center;
    font-size: 93pt;
    line-height: 1.3;
}

p.attract-me{
    font-size: 1.35rem;
    line-height: 2;
    margin: 0;
    color: #424242;
}

.server-value{
    font-size: 21px;
    font-weight: 600;
    margin: 1em;
}

.bold-title{
    font-size: 2rem;
    line-height: 1.22222;
    color: #202024;
}

@media (max-width: 890px){
    .mt-call-items-text {
        font-size: 13px;
    }

}

.mt-avatar__link{
    display: block;
    margin-bottom: 15px;
    text-align: center;
    max-width: 201px;
    font-size: 15px;
    font-weight: 600;
    color: #7f7f7f;

    &:hover{
        color: #545454;
    }

    p{
        color: #7d7d7d;
        font-weight: 100;
        font-size: 12px;
        margin-top: 6px;
    }
}

.mt-title__text{
  font-weight: 600;
    margin: 1em 0;
    font-size: 12px;
    color: #7f7f7f;
}

.mt_support__text{
      font-size: 13px;
    color: #7f7f7f;
    letter-spacing: 1px;
    line-height: normal;
}

.shot-description>p{
    font-size: 13px;
    letter-spacing: 1.2px;
    color: #393939;
    line-height: 1.4;
}

.shot-title>a{
    color: #262626;
    font-size: 18px;
}

.shot-date{
    font-size: 13px;
    text-align: left;
    margin: 0 6px;
    display: inline;
    color: #929292;
}

.mt-slide-cap{
font-size: 20px;
}
.mt-title-slide{
    color: #ffffff;
    font-size: 57px;

}

.tp-caption{
 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
    font-style: normal;
    font-family: Raleway;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    letter-spacing: 3px;
    }