
/* ==========================================================================
   This File is for all texts Css
   ========================================================================== */

/*
* Global texts that are general
*
*/
.mt-heading{
    padding: 0.2em 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 113%
}

.mt-subheading{
    max-width: 579px;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 180%;
}

.forgot-password{
	display: inline-block;
	color: #eee;
	margin-right: 5px;
}

.danger-text{
	font-size: 12px;
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
}

.mt-menu-text {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 1px 0px black, 2px 0px 1px rgba(0, 0, 0, 0.87);
}

/*More specific texts*/
.mt-call-items-title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
}

.mt-call-items-text {
    color: #868686;
    font-size: 15px;
}


a.mt-call-items:hover .mt-call-items-title {
    color: #F23054;
}

