<div class="register-oval mdl-grid">

	<form class="form-horizontal" role="form" method="POST" action="/register">
	<div class="mt-form-group">
		<input type="hidden" class="hidden" ng-model="token">
	        <div>
	            <div class="input-icon">
	                <input type="text" name="username" class="form-control" placeholder="Username">
	                <div class="form-control-focus"> </div>
	                <i class="mdi mdi-email-outline"></i>
	            </div>
	        </div>
	    </div>
	    <div class="mt-form-group">
	        <div>
	            <div class="input-icon">
	                <input name="email" type="email" class="form-control" placeholder="Email">
	                <div class="form-control-focus"> </div>
	                <i class="mdi mdi-email-outline"></i>
	            </div>
	        </div>
	    </div>
	    <div class="mt-form-group">
	        <div>
	            <div class="input-icon right">
	                <input name="password" type="password" class="form-control" placeholder="Password">
	                <div class="form-control-focus"> </div>
	                <i class="mdi mdi-key"></i>
	            </div>
	        </div>
	    </div>
		<div class="mdl-checkbox">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" for="checkbox-1" ng-class="{'is-checked':shot.featured}" data-upgraded=",MaterialCheckbox,MaterialRipple">
                  <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input ng-pristine ng-untouched ng-valid" ng-model="shot.featured">
                  <span class="mdl-checkbox__label">Remember me</span>
                <span class="mdl-checkbox__focus-helper"></span><span class="mdl-checkbox__box-outline"><span class="mdl-checkbox__tick-outline"></span></span><span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple"><span class="mdl-ripple is-animating" style="width: 103.823px; height: 103.823px; transform: translate(-50%, -50%) translate(18px, 18px);"></span></span></label>
        </div>
	    <div class="mt-form-group">
	        <div class="center form-buts-wrap">
	            <button type="submit" class="btn float mdl-button btn-blue waves-effect waves-button waves-float">Sign Up</button>
	        </div>
	    </div>
	</form>

</div>