<div class="overlay-wrapper">

	<section class="mdl-cell mdl-cell--12-col light-shadow">

	<!-- The header -->
		<header class="mt-shot-header clearfix">
            <section class="mt-shot-avatar-wrapper">
              <a href="#" class="mt-shot-avatar" title="Mytailor">
                <img height="30" width="30" ng-src="/uploads/profiles/{{shot.publisher.profile.avatar}}" alt="Braden Hamm">
                <h2 class="mt-avatar-name" ng-bind="shot.publisher.profile.username"></h2>
              </a>
            </section>
         </header>

         <!-- The Figure -->
		<figure class="mt-figure__card mdl-card shot-cover">
			<img ng-src="/uploads/{{shot.file_name}}">
		</figure>

		<!-- Notes -->
		<div class="shot-info" style="padding: 1em 3em;min-height: 20px;background: #F8F8F8;">
			<div class="shot-title" style="padding: 1em 0;">
				<a href="#" ng-bind="shot.title"></a>
			</div>
			<div class="shot-description">
				<p ng-bind="shot.description">
				</p>
			</div>
		</div>

		<!-- Comments -->
		<div class="mt-shots-info-wrap mt-card-light">
		<div class="mt-shot-info-head">
			<div class="mt-shot-user-actions-wrap">
				<ul class="mt-shot-user-actions">
					<li class="each-action">
						<a href="#" class="">
							<i class="mdi mdi-heart-outline" style="font-size: 2em;color: #F23054;"></i>
							<span ng-bind="shot.likes"></span>
						</a>
					</li>
					<li class="each-action">
						<a>
							<i class="mdi mdi-eye" style="font-size: 2em;"></i>
							<span ng-bind="shot.views"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="mt-shot-utility-icons">
				<ul>
					<li class="util-list-surcelink m-0">
						<a class="btn mt-btn-circle m-0 waves-effect waves-button waves-float"  ng-href="{{shot.source_url}}" title="source URL">
                              <i class="mdi mdi-link-variant"></i>
                        </a>
					</li>
				</ul>
			</div>
		</div>
		<!-- All comments -->
		<div class="mt-shot-comments-wrapper scroller hidden">

			<div class="mt-shot-comment-cont"></div>

		</div>

		<!-- Comment Form -->
		<div class="comment-form-wrapper">
			<div class="input-comment">
				<input class="form-control" type="text" placeholder="Write your comment here ...">
			</div>
		</div>

		</div>
	</section>

</div>