 

 /* ==========================================================================
    Cards
   ========================================================================== */


.mt-card{
  background: #fff;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
      padding: 1em;
}

 /* ==========================================================================
    MDL grid compponents
   ========================================================================== */

/*Overright*/
@media (max-width: 428px){
.featured-grid>.mdl-cell--2-col, .mdl-cell--2-col-phone.mdl-cell--2-col-phone {
    width: calc(36% - 16px);
}
    .mt-shot-item{
      margin: 0px 2px 2px 0 !important;
    }


}

 /* ==========================================================================
    Rows
   ========================================================================== */
.mt-row{
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 75em;

}

.mt-row--fullwidth{
  @extend .mt-row;
  width:100%;
  padding: 0;

}


.featured-grid{
    width: 100% !important;
    align-items: center;
    justify-content: center;

}


/*Featured Shots*/

.mt-shot-item{
    max-height: 346px;
    min-height: 112px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #F4F4F4;
    margin: 0 5px 5px 0;
    //flex-basis: 24.6666%;
}

// .mt-shot-item:nth-child(4n){
//     margin-right: 0;
// }


/*Lets look at what breaks*/


@media (max-width: 1049px) {
  .mt-row{
    width: 100%;
    min-width: 60em;
  }

}


/*Panels*/

.mt-panel-heading{
      padding: 10px 15px;
      min-height: 100px !important;
}

@media (max-width: 860px) {
  .mt-row{
    width: 100%;
    min-width: 10em;
  }
}