 

 /* ==========================================================================
    Cards
   ========================================================================== */


.mt-card{
  background: #fff;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
  padding: 1em;
}
.mt__media-card{
    height: 290px;
    background: #000;
    overflow: hidden;
}

figure.shot-cover{
    text-align: center;
    padding: 2em;
    background: #fff;
    display: block;
    height: auto;
}

.light-shadow {
    background: #fff;
    box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.15);
}
 /* ==========================================================================
    MDL grid compponents
   ========================================================================== */


/*Overright*/
@media (max-width: 428px){
.featured-grid>.mdl-cell--2-col, .mdl-cell--2-col-phone.mdl-cell--2-col-phone {
    width: calc(36% - 16px);
}
    .mt-shot-item{
      margin: 0px 2px 2px 0 !important;
    }


}

 /* ==========================================================================
    Rows
   ========================================================================== */
.mt-row{
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 75em;

}

.mt-row--fullwidth{
  @extend .mt-row;
  width:100%;
  padding: 0;

}

.featured-grid{
  padding:0;
    max-width: 935px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

}


@media (min-width: 736px){
.featured-grid{
    box-sizing: content-box;
    padding: 0 20px;
    width: calc(100% - 40px);
  }

}

@media (max-width: 840px){
.featured-grid > .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
    width: calc(34.3444444% - 15px) !important;
}
}


/*Featured Shots*/

.mt-shot-item{
    overflow: hidden;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #F4F4F4;
    margin: 0 5px 5px 0;

    .shot-img_view {
          position: relative;
          display: block;
          overflow: hidden;
          padding-bottom: 100%;
          background-color: #000;

        &:hover img{
          opacity:.8;
        }
      }

    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
        transition:opacity linear .2s;


    }
}


/*Lets look at what breaks*/


@media (max-width: 1049px) {
  .mt-row{
    width: 100%;
    min-width: 60em;
  }

}


/*Panels*/

.mt-panel-heading{
      padding: 10px 15px;
      min-height: 100px !important;
}

@media (max-width: 860px) {
  .mt-row{
    width: 100%;
    min-width: 10em;
  }
}

.mt-figure__card{
    padding: 0 87px;
    background: #000000;
    height: 555px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*Mansonry grid*/

.grid{
  margin-top: 1em;
}
.grid-item {
    width: 25%;
    display: inline-block;
    float: left;
    padding: 0.125rem;
    overflow: hidden;

    figure{
        overflow: hidden;
        position: relative;
    }
}

.grid-item figcaption {
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
}

@media screen and (max-width: 1000px){
  .grid-item {
      width: 33.1%;
  }
}

@media screen and (max-width: 768px){
  .grid-item {
      width: 50%;
  }
}

@media screen and (max-width: 490px){
  .grid-item {
      padding: 1em;
      width: 100%;
      max-height: 425px;
  }
}

.dimOverlay {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.15);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.3)));
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all, 0.3s, ease-in-out;
    transition: all, 0.3s, ease-in-out;

}
  .grid-item figcaption {
    display: -webkit-box;
    display: flex;
    filter: alpha(opacity=100);
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    padding: 20px;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    vertical-align: middle;
    line-height: 25;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.mt-grid___link:hover .dimOverlay, .mt-grid___link:hover figcaption:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}