
/*Call to action section*/

.mt-layout_calls-wrapper{
	box-sizing: border-box;
    background: map-get($ui-color, darkbrown);
}

.mt-call-actions{
    padding: 25px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mt-call-items{
    display: flex;
    display: -ms-flexbox;
    flex: 1 0 200px;
    min-height: 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
        justify-content: center;
}

.mt-call-items>.call-item{
	padding: 0 30px;
    text-align: center;
	& div.icon{
		    padding: 2em 0em;
	}
}

@media(max-width: 839px) and (min-width: 480px){

    .mt-call-actions{
        flex-wrap:wrap;
    }



       .btn--mobile{
        padding: 1em 2em;
    }

}


@media (max-width: 839px){
   .mt-call-items{
    flex-basis: 261px;
   }
}

@media (max-width: 580px){
   .mt-call-items{
    flex-basis: 200px;
   }
}

/*The Big button concept*/
.mt-after-call-items{
    text-align: center;
    padding: 4em 0;
}

.after-shots-action{
	text-align: center;
	padding-bottom: 4em;
	margin-top: 4em;
}


/*Content Area text*/
.mt-content-section-wrapper{
	width: 100%;
	padding: 0 10em;
}

.after-shots-action>a>span.btn{
	    box-shadow: inset 0 0 0 2px map-get($ui-color, grey60);
	    min-width: 11em;
	    padding: 1.2em 0;
	    &:hover{
	    	font-weight: 600;
    		color:  map-get($ui-color, darkbrown);
	    	background-color : map-get($ui-color, grey60);
	    }
}

/*********************************************************************************************

      Home Sections

*********************************************************************************************/
.mt-content-section-wrapper{
   
    background: #CAC9C9;
    padding:  0 10em;
}
.mt-wrap-ptb{
    padding: 5em 0;

}

.mt-2cols-wrap{
    width: 50%;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

.mt-info-box{
    width: 75%;
}

.mt-call-text{
        padding: 2em 0 0;
    font-size: 1.2rem;
    font-weight: 600;

    a{
        color: #F23054;
        margin: 0;

    }
}


/*********************************************************************************************

     last Section

*********************************************************************************************/
.mt-large-info-box{
    padding: 3em 0;
    text-align: center;
    width: 35%;
    margin: 0 auto;
}

/*********************************************************************************************

     Page Footer

*********************************************************************************************/

.footerContainerWrapper{
    padding: 4em 0px 1em 0;
    text-align: center;
    clear: both;
    width:100%;

}                                       

ul.icons {
    padding: 2em;
    margin: 0 0 2em 0;
}

ul.icons li{
    display: inline-block;
    padding: 0 1.25em 0 0;
    margin: 0;
          a{    font-size: 200%;

    }
}

.copyright li{
    text-align: center;

}


/*********************************************************************************************

     Shots Dialog

*********************************************************************************************/
.shot-info{
    padding: 1em 3em;
    min-height: 20px;
    background: #F8F8F8;
    border-bottom: 1px solid #d8d8d8;
}

.mt-shots-info-wrap {
    border-bottom: 1px solid #eee;
    margin-top: 1px;
    padding: 0 45px;
}

.mt-shot-info-head {
    border-bottom: 1px solid #eee;
    padding: 1em 0;
}

.comment-form-wrapper {
    margin: 15px 0;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}
.mt-shot-user-actions-wrap, .mt-shot-user-actions > *{
    display: inline-block;
}

.mt-shot-utility-icons {
    display: inline-block;
    float: right;
}
