/*
 * Main layouts for our pages
 *
 *
 * $this includes:
 * header Layout
 * Navigation Layout
 * Grids
 * Footer
 *
 */



 /* ==========================================================================
   Layout Styles: 
   ========================================================================== */

.mt-layout{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch; 
}

.mt-layout-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

 /* ==========================================================================
   Header layout Styles: 
   ========================================================================== */

.mt-layout-header{
  @extend .make-flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 60px;
  max-height: 60px;
  z-index: 3;
  background-color: map-get($ui-color, darkbrown);
  color: rgb(255,255,255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: max-height, box-shadow;
          transition-property: max-height, box-shadow;

}


.mt-header--fixed{
    top: 0;

}


 /* ==========================================================================
  SideBar layout Styles: 
   ========================================================================== */

.mt-layout-sidebar{
    @extend .make-flex;
    width: 18.45rem;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    -webkit-transform: translateX(-18.45rem);
    -ms-transform: translateX(-18.45rem);
    transform: translateX(-18.45rem);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;

  &.__visible{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

 /* ==========================================================================
  Page layout & content: 
   ========================================================================== */

.mt-page-wrapper{
  -ms-flex: 0 1 auto;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.mt-layout-content{
  min-height: 40em;
}

 /* ==========================================================================
  Footer Layout: 
   ========================================================================== */
  .mt-layout-footer{
    color: rgb(158, 158, 158);
    background-color: rgb(66, 66, 66);
    padding: 16px 40px;
    min-height: 10em;
  }