.make_flex{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.__left{
    float:left;
}

.__right{
    float:right;
}

.row{
    margin-right: -15px;
    margin-left: -15px;

    &>*{
        float: left;
    }
}

.text-right{
    text-align: right;
}

.is-visible{
    visibility:visible !important;
    display:block;
}