.make_flex{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

img{
    max-width: 100%;
}
.__left{
    float:left;
}

.__right{
    float:right;
}

.row{
    margin-right: -15px;
    margin-left: -15px;

    &>*{
        float: left;
    }
}

.text-right{
    text-align: right;
}

.is-visible{
    visibility:visible !important;
    display:block;
}

.p1-Container{
    display: block;
    padding: 1em;
}

.m-0{
    margin:0;
}

.mb-30{
    margin-bottom: 30px;
}
.pad-1{
    padding:1em;
}
.center{
    text-align:center;
}

.table{
        width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F3F6F9;
}

.mt-ptop{
    padding-top: 1em;
}

a[ng-click]{
    cursor: pointer;
}
.pb-5{
        padding: 0.5em 0.2em;
    border-bottom: 1px solid #eee;
}